---
import Layout from "../layouts/Layout.astro";
import About from "../components/About.astro";
import Projects from "../components/Projects.astro";
import Skills from "../components/Skills.astro";
import Contact from "../components/Contact.astro";
import Footer from "../components/Footer.astro";
---

<Layout
  title="Portfolio de Axel Sparta - Programador y desarrollador web"
  description=""
>
  <main>
    <About />
    <Skills />
    <Projects />
    <Contact />
    <Footer />
  </main>
</Layout>
