---
import GithubIcon from "../icons/Github.astro";
import LinkedInIcon from "../icons/Linkedin.astro";
import MailIcon from "../icons/Mail.astro";
import Badge from "./Badge.astro";
import SocialPill from "./SocialPill.astro";
---

<section id="home" class="py-14 lg:py-28 flex flex-col gap-y-4 text-pretty">
  <img
    class="rounded-full size-16 lg:size-20 object-cover animate-blurred-fade-in"
    src="/yo.jpg"
    alt="axelsparta photo"
  />
  <h1
    class="text-xl lg:text-4xl flex gap-x-3 items-center font-semibold animate-blurred-fade-in"
  >
    Hola, soy Axel Sparta <Badge class="bg-blue-500 text-blue-950"
      >Disponible para trabajar</Badge
    >
  </h1>
  <h2 class="text-lg lg:text-2xl opacity-90 animate-blurred-fade-in">
    Desarrollador web y estudiante de ingeniería en sistemas de Mendoza,
    Argentina 🇦🇷.
  </h2>
  <p class="text-sm lg:text-base animate-blurred-fade-in">
    Siempre estoy aprendiendo nuevas tecnologías, creando proyectos y
    perfeccionandome tanto en el front-end como en el back-end.
  </p>
  <nav class="animate-blurred-fade-in">
    <ul class="flex gap-4 flex-wrap">
      <li>
        <SocialPill href="https://github.com/AxelSparta">
          <GithubIcon class="size-4 lg:size-6" />
          Github
        </SocialPill>
      </li>
      <li>
        <SocialPill href="https://www.linkedin.com/in/axel-sparta-web/">
          <LinkedInIcon class="size-4 lg:size-6" />
          LinkedIn
        </SocialPill>
      </li>
      <li>
        <SocialPill href="mailto:axelnicolassparta@gmail.com">
          <MailIcon class="size-4 lg:size-6" />
          axelnicolassparta@gmail.com
        </SocialPill>
      </li>
    </ul>
  </nav>
</section>
